@model IEnumerable<FacturacionDespachoContable.Models.servicio>

@{
    Layout = null;
}

    <table id="tablaServicios" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>Cantidad</th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td class="nombreServicio">
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                <input onkeyup="if (event.keyCode == 13) {
        if ($(this).val() != '') {

            agregarServicio({ idServicio:@item.idServicio, cantidad: $(this).val() })

        }
    }" class="border rounded" style="width:75px" type="number" id="cantidad" value="" />
            </td>
        </tr>
    }
    
    </table>
